@using Algebra.SecureCoding.Web.Models.SqlInjection
@model SqlInjectionSearchRequest

<div class="container">
    <div class="text-center">
        <h1>A03:2021 – Injection</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12">
                    <h3>Overview</h3>
                    <p>Injection slides down to the third position. 94% of the applications were tested for some form of injection with a max incidence rate of 19%, an average incidence rate of 3%, and 274k occurrences. Notable Common Weakness Enumerations (CWEs) included are CWE-79: Cross-site Scripting, CWE-89: SQL Injection, and CWE-73: External Control of File Name or Path.</p>
                    <h3>Description</h3>
                    <p>An application is vulnerable to attack when:</p>
                    <ul>
                        <li>User-supplied data is not validated, filtered, or sanitized by the application.</li>
                        <li>Dynamic queries or non-parameterized calls without context-aware escaping are used directly in the interpreter.</li>
                        <li>Hostile data is used within object-relational mapping (ORM) search parameters to extract additional, sensitive records.</li>
                        <li>Hostile data is directly used or concatenated. The SQL or command contains the structure and malicious data in dynamic queries, commands, or stored procedures.</li>
                    </ul>
                    <p>Some of the more common injections are SQL, NoSQL, OS command, Object Relational Mapping (ORM), LDAP, and Expression Language (EL) or Object Graph Navigation Library (OGNL) injection. The concept is identical among all interpreters. Source code review is the best method of detecting if applications are vulnerable to injections. Automated testing of all parameters, headers, URL, cookies, JSON, SOAP, and XML data inputs is strongly encouraged. Organizations can include static (SAST), dynamic (DAST), and interactive (IAST) application security testing tools into the CI/CD pipeline to identify introduced injection flaws before production deployment.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-3">
            <div class="row float-end">
                <h1 class="h1">Try it out</h1>
                <form method="post" asp-action="SqlInjection">
                    <div class="mb-3">
                        <label for="SearchTerm" class="form-label">Search products by name:</label>
                        <input asp-for="SearchTerm" placeholder="Product name" required>
                        <div id="SearchTermHelp" class="form-text">Dont wory, you wont break anything. Try with ' OR '1'='1</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
    </div>
</div>