@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Secure coding Oauth 2.0  and oidc</h1>
    <p> <a asp-action="ProtectedData">Get protected data</a></p>
</div>
